@import "/src/variables";

.card {
  background-color: $color-white;
  border-radius: 7px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  margin-bottom: 20px;

  & > * {
    flex: 1 1 100%;
  }

  &:hover, &:focus-within {
    outline: 1px solid $color-greyD9;
  }

  &:hover h2 a, &:focus-within h2 a {
    color: $color-orange;
  }

  @include lg-max {
    flex-flow: row nowrap;
    margin: 0 40px 40px 40px;
  }

  @include xl-max {
    margin: 0 0 1px 0;
    padding: 20px 60px;
  }
}

.textContent {
  display: flex;
  flex-flow: row wrap;
  padding: 22px 20px 13px;

  @include lg-max {
    order: 1;
    padding: 28px 38px 21px 38px;
  }

  @include xl-max {
    flex-basis: 672px;
    padding: 15px 38px;
  }
}

.metaData {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 10px;
  line-height: 12px;

  @include lg-max {
    order: 2;
    font-size: 14px;
    line-height: 16px;
  }
}

.userLink {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 20px;
  padding: 0 6px 0 0;
  margin-left: 15px;

  &:hover a {
    text-decoration: underline;
  }

  @include lg-max {
    order: 2;
  }
}

.avatar {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  margin: 0 7px 0 0;
}

.username {
  position: relative;
  z-index: 1;
  color: $color-orange;
}

.createdAt, .createdAt * {
  color: $color-grey99;
}

.publishedLabel {
  display: none;

  @include lg-max {
    display: inline-block;
  }
}

.title {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  margin: 0;
  padding: 7px 0 0;

  @include lg-max {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 8px;
  }

  @include lg-max {
    max-width: 672px;
  }
}

.postLink {
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @include lg-max {
    -webkit-line-clamp: 1;
  }
}

.preview {
  max-height: 178px;

  @include lg-max {
    max-height: 107px;
    max-width: 190px;
    order: 0;
  }
}

.previewImg {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include lg-max {
    border-radius: 3px;
  }
}

.menu {
  position: absolute;
  top: 17px;
  right: 15px;

  @include lg-max {
    order: 3;
    top: calc(50% - 15px);
    right: 62px;
  }

  @include xl-max {
    right: 122px;
  }
}

.menuButton {
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  border-radius: 31px;
  background: transparent;
  border: 0;

  &:hover {
    background-color: rgba(51, 51, 51, 0.1);
  }

  @include lg-max {
    align-self: center;
    transform: unset;
  }

  &:active, &:hover {
    background-color: rgba(51, 51, 51, 0.1);
  }
}

.controls {
  position: relative;
  padding: 10px 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  @include lg-max {
    order: 4;
    flex: 0 0;
    margin: 0 0 0 24px;
    padding: 0;
  }
}

.karmaCounter {
  display: flex;
  align-items: center;

  & > * + * {
    padding: 0 0 0 4px;
  }

  & > button.up:hover > svg > path {
    fill: $color-green;
  }

  & > button.down:hover > svg > path {
    fill: $color-orange;
  }

  @include lg-max {
    justify-content: center;
    flex-flow: column nowrap;

    & > * + * {
      padding: 7px 0 0;
    }
  }
}

.karmaValue {
  color: $color-greyC4;

  @include lg-max {
    font-size: 14px;
    line-height: 16px;
    color: $color-black;
  }
}

svg.down {
  transform: rotate(180deg);
}

.commentsButton {
  display: flex;
  align-items: center;

  & * {
    color: $color-greyC4;
  }

  @include lg-max {
    display: none;
  }
}

.commentsNumber {
  padding: 0 0 0 6px;
  font-size: 12px;
  line-height: 14px;
}

.actions {
  display: flex;
  flex-flow: row nowrap;

  & > * + * {
    margin: 0 0 0 13px;
  }

  @include lg-max {
    display: none;
  }
}

.shareButton {
  width: 20px;
  height: 20px;
}

.saveButton {
  width: 20px;
  height: 20px;
}