@import "/src/variables";

.card {
  background-color: $color-white;
  border-radius: 7px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  margin-bottom: 20px;

  & > * {
    flex: 1 1 100%;
  }

  &:hover, &:focus-within {
    outline: 1px solid $color-greyD9;
  }

  &:hover h2 a, &:focus-within h2 a {
    color: $color-orange;
  }

  @include lg-max {
    flex-flow: row nowrap;
    margin: 0 40px 40px 40px;
  }

  @include xl-max {
    margin: 0 0 1px 0;
    padding: 20px 60px;
  }
}